pandas>="1.2.4"
matplotlib>="3.4.1"
numpy>="1.20.2"
pint>="0.17"
python-dotenv>="0.17.0"
openpyxl>="3.0.7"
ord-schema>="0.3.0"
rdkit-pypi>="2021.3.2"
typer>="0.3.2"
tqdm>="4.61.0"
git+git://github.com/sustainable-processes/summit@master#egg=summit