/reizman_suzuki_case_4_parity_plot.png
/reizman_suzuki_case_3_parity_plot.png
/reizman_suzuki_case_2_parity_plot.png
/baumgartner_suzuki_parity_plot.png
/reizman_suzuki_case_1_parity_plot.png
/baumgartner_mtbo_no_cat_loading.png
/baumgertner_reizman_one_cotraining_optimization.png
/reizman_reizman_one_cotraining_optimization.png
/comparison_plot.png
/comparison_plot_twenty.png
/descriptors_lkb_pca.png
/perera_multi_task_descriptors.png
/perera_single_task_descriptors.png
/perera_suzuki_case_4_fey_descriptors.png
/reizman_baumgartner_one_cotraining_optimization.png
/reizman_baumgartner_one_cotraining_optimization.svg
/baumgartner_reizman_one_cotraining_optimization.png
/baumgartner_reizman_one_cotraining_optimization.svg
/baumgartner_reizman_one_cotraining_optimization_alternate.png
/baumgartner_reizman_one_cotraining_optimization_alternate.svg
